{% extends 'base.html' %}

{% block content %}
<h3>Ostatnio dodane książki:</h3>
<ul>

    {% for book in books|dictsortreversed:"id" %}
    <li style="list-style-type:none"><a href="{% url 'book' book_id=book.id %}" style="text-decoration:none"><img src="{{ book.logo }}" height="42" width="42"> &nbsp; {{ book.title }}, {{ book.author }}</a></li>
    {% empty %}
        pusto
    {% endfor %}
</ul>
<br>
<a href="{% url 'add-book' %}" style="text-decoration:none">Dodaj nową książkę</a>
<br>

<br>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="text-decoration:none">Wyloguj</a>
    {% else %}
        <a href="{% url 'login' %}" style="text-decoration:none">Logowanie</a>
    {% endif %}

{% endblock %}

