{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static '/css/style.css' %}" rel="stylesheet">
<div id="catalog1">
    <h3>Nasza propozycja:</h3>
    {% with offer=books|random %}
        <img src="{{ offer.logo }}" height="250">
       <strong> {{ offer.title}}, {{ offer.author }}</strong><br><br>
        {{ offer.description }}<br><br>
    <a href="{% url 'book' book_id=offer.id %}" style="text-decoration:none">| Zobacz szczegóły |</a>
    {% endwith %}

</div>
<div id="catalog2">
<h3>Ostatnio dodane książki:</h3>
<ul>

    {% for book in books|dictsortreversed:"id" %}
    <li style="list-style-type:none"><a href="{% url 'book' book_id=book.id %}" style="text-decoration:none"><img src="{{ book.logo }}" height="60" width="50"> &nbsp; {{ book.title }}, {{ book.author }}</a></li>
    {% empty %}
        pusto
    {% endfor %}
</ul>
    <br>
        <a href="{% url 'books' %}" style="text-decoration:none"> || Zobacz wszystkie książki &gt;&gt; ||</a><br>
</div>
    <br>

    {% if user.is_authenticated %}
        <strong>Zalogowany jako:  </strong>{{ user }}<br><br>
        <a href="{% url 'add-book' %}" style="text-decoration:none">| Dodaj nową książkę |</a><br><br>
        <a href="{% url 'logout' %}" style="text-decoration:none">| Wyloguj |</a>
    {% else %}
        <a href="{% url 'login' %}" style="text-decoration:none">| Logowanie | </a>
        Tylko zalogowani użytkownicy mogą dodawac nowe książki
    {% endif %}

{% endblock %}

